<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <%= image_tag 'woman.png', width: '200px', class: 'image' %>
    </div>
    
    <div class="col-12 col-md-8">
      <h1>User Details</h1>
      
      <br />
      
      <h4>
        <strong>Email Address:</strong> <%= @user.email %>
      </h4>
      
      <h4>
        <strong>Member Since:</strong> <%= @user.created_at.strftime("%B %d %Y") %>
      </h4>
      
      <h4>
        <strong># of Comments:</strong> <%= @user.comments.count %>
      </h4>

      <h4>
        <strong># of 5-Star Ratings:</strong> <%= @user.comments.where(rating: '5_stars').count %>
      </h4>
    </div>
  
    <div class="clear"></div>
  </div>
</div>

<br />
<br />

<h1 class="text-center">My Comments</h1>

<br />

<div class="row col-10 offset-1">
  <% @user.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <blockquote>
        <%= link_to 'Delete', place_path(comment.place), method: :delete, data: {confirm: 'Are you SURE you want to delete this comment?'}, class: 'btn btn-primary loginbutton float-right' %>
        <% if comment.humanized_rating.present? %>
        <strong><%= comment.humanized_rating %></strong> -
        <% end %>
        <%= comment.message %><br />
        -- <%= link_to comment.place.name, place_path(comment.place) %>
      </blockquote>
    </div>
  <% end %>
</div>

<br />
<br />

<h1 class="text-center">My Places</h1>

<br />

<% @user.places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <% if place.photos.present? %>
      <%= image_tag place.photos.last.picture, class: 'imgboxindex' %>
    <% end %>

    <h1><%= link_to place.name, place_path(place.id) %></h1>
    <em><%= place.address %></em>
    
    <br />
    
    <% if place.user.present? %>
      <small>Submitted By: <%= place.user.email %></small>
    <% end %>
    
    <br />
    <br />
    
    <p><%= place.description %></p>

    <% if place.comments.present? %>
      <div class="col-12 clear">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <strong><%= place.comments.last.humanized_rating %></strong> -
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
  