<% @places.each do |place| %>
<div class="booyah-box col-10 offset-1">
  <h1><%= place.name %></h1>
  <em><%= place.address %></em><br /><br />
  <p><%= place.description %></p><br />

  <% if place.user.present? %>
    <small><%= place.user.email %></small>
  <% end %>

</div>
<% end %>

<div class="digg_pagination col-10 offset-1">
<%= will_paginate @places, :page_links => false %>
</div>