<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">

    <% if place.photos.present? %>
      <%= image_tag place.photos.last.picture, class: 'imgboxindex' %>
    <% end %>

    <h1><%= link_to place.name, place_path(place.id) %></h1>
    <em><%= place.address %></em>
    <br />
    <% if place.user.present? %>
      <small>Submitted By: <%= place.user.email %></small>
    <% end %>
    <br /><br />
    <p><%= place.description %></p>

    <% if place.comments.present? %>
      <div class="col-12 clear">
      <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
          <strong><%= place.comments.last.humanized_rating %></strong> -
        <% end %>
        <%= place.comments.last.message %>
        <small><%= place.comments.last.user.email %></small>
      </blockquote>
      </div>
    <% end %>

  </div>
<% end %>

<div class="digg_pagination col-10 offset-1">
<%= will_paginate @places %>
</div>