<div class="booyah-box col-10 offset-1 clearfix">
  <h1><%= @place.name %></h1>
  <em><%= @place.address %></em><br />
    <% if @place.user.present? %>
      Added By: <strong><%= @place.user.username %></strong>
    <% end %><br /><br />
  <p><%= @place.description %></p>

  <div class="row">
    <% @place.photos.shuffle.first(4).each do |photo| %>
    
      <div class="col-12 col-md-3">
        <%= image_tag photo.picture, class: 'imgbox' %>
        <br />
        <medium class="text-center"><strong><em>
          <%= photo.caption %>
          <br />
          <% if current_user && current_user == @place.user %>
            <%= link_to '<i class="fa fa-trash"></i> Delete Photo'.html_safe, place_photo_path(@place, photo), class: 'imgbox', :method=> :delete, data: {confirm: 'Are you SURE you want to delete this photo?'} %>
          <% end %>
        </em></strong></medium>
        <br />
        <br />
      </div>
    <% end %>
  </div>

  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>
      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myLatLng
          });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
          });
        };
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTAX0xW-5oI2F8JWzPf_Gra2E1PJpU96k&callback=initMap">
    </script>

    <div id="map"></div>
  <% end %>

  <br />
  <br />

  <div class="float-right">
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit Place', edit_place_path(@place), class: 'btn btn-primary loginbutton' %>
      <%= link_to 'Delete Place', place_path(@place), method: :delete, data: {confirm: 'Are you SURE you want to delete this place?'}, class: 'btn btn-primary loginbutton' %>
    <% end %>
    <%= link_to 'Back Home', root_path, class: 'btn btn-primary loginbutton' %>
  </div>
</div>

<!-- Modals -->
<!-- COMMENT MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add A Comment</h4>
      </div>

      <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
      <div class="modal-body">
        <%= f.input :message %>
        <%= f.input :rating, as: :select, collection: Comment::RATINGS %>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add A Comment", class: 'btn btn-primary loginbutton' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- PHOTO MODAL -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel1">Upload A Photo</h4>
      </div>

      <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
      <div class="modal-body">
        <%= f.input :picture %>
        <%= f.input :caption %>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Upload Photo", class: 'btn btn-primary loginbutton' %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="col-10 offset-1">
  <% if @place.comments.present? %>
    <h1 class="float-left">Comments</h1>
  <% end %>

   <button type="button" class="btn btn-primary loginbutton float-right buttonspace" data-toggle="modal" data-target="#myModal1">Upload A Photo</button>

    <button type="button" class="btn btn-primary loginbutton float-right" data-toggle="modal" data-target="#myModal">Add A Comment</button>
</div>

<div class="row clear col-10 offset-1">
  <% @place.comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <blockquote>
        <% if comment.humanized_rating.present? %>
        <strong><%= comment.humanized_rating %></strong> -
        <% end %>
        <%= comment.message %>
        <small><strong><em><%= comment.user.username %></em></strong></small>
      </blockquote>
    </div>
  <% end %>
</div>